<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="x_window" content={{x_window}}>

    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href = "{{url_for('static', filename='dashboard.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 5px solid;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Deepstream Intruder Detection UI</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('liveStreaming') }}">Live Stream</a></li>
                    <li><a href="{{ url_for('liveChart') }}">Live Chart</a></li>
                    <li class="active"><a href="{{ url_for('both') }}">Both</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-m-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="page-header">Live Streaming</h3>
                <div><img src="{{ url_for('video_feed') }}" id="responsive-video" style="width:70%;" border="1"></div>
                <div id="plot1"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        function getWindow(lastDate) {
            var window = $('meta[name=x_window]').attr("content");
            var lastDateObj = new Date(lastDate);
            var windowDateObj = lastDateObj.setSeconds(lastDateObj.getSeconds() - window);
            return windowDateObj;
        }

        function makePlotly( x, y1, div_id ){
            var plotDiv = document.getElementById(div_id);
            var traces = [{
                x: x,
                y: y1,
                name: 'Crossing Boundary Line',
                line: {color: 'rgb(255, 0, 0)'}
            }];
            var windowDateObj = getWindow(x[x.length - 1])
            var layout = {
                height: 500,
                title:{
                    text: 'Live Chart',
                    font: {
                        family: 'Courier New, monospace',
                        size: 24
                    },
                    xref: 'paper',
                    x: 0.05,
                },
                font: {size: 18},
                margin: { t: 0 },
                xaxis: {
                    range: [windowDateObj,  x[x.length - 1]],
                    rangeslider: {range: [x[0], x[x.length - 1]]},
                    type: 'date',
                    title: {
                        text: 'Datetime'
                    }
                },
                yaxis: {
                    title: {
                        text: "Number of intruders detected"
                    },
                    autorange: true
                }
            };

            var additional_params = {
                responsive: true
            };

            Plotly.plot(plotDiv, traces, layout, additional_params);
        };
        var plot_start = 0;

        function streamPlotly( x, y1, div_id ){
            var plotDiv = document.getElementById(div_id);
            var data_update = {x: [x], y: [y1]}
            var windowDateObj = getWindow(x)
            var layout_update = {xaxis: {
                range: [windowDateObj, x[x.length - 1]],
                rangeslider: {range: [plot_start, x[x.length - 1]]}
            }};
            Plotly.update(plotDiv, {}, layout_update)
            Plotly.extendTraces(plotDiv, data_update, [0])
        };

        var url = 'http://' + document.domain + ':' + location.port
        var socket = io.connect(url);

        socket.on('connect', function(msg) {
            console.log('connected to websocket on ' + url);
        });

        socket.on('bootstrap', function (msg) {
            plot_start = msg.x[0];
            makePlotly( msg.x, msg.y3, "plot1" )
        });

        socket.on('update', function (msg) {
            streamPlotly( msg.x, msg.y3, "plot1" )
        });
    </script>
</body>
</html>